
body {
   
    background-color: rgb(44, 51, 32);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    display: grid;    
    justify-items: center;    
    color:rgb(9, 218, 166);
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px black;
}

.bookArea {    
    display: grid;   
    max-width: 60vw;   
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding: 50px;
    background-color: rgb(105, 91, 61);
    border-radius: 10px;
    box-shadow: 15px 15px 15px black;
}

.addBook, .submit{
    width : fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(9, 218, 166); 
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}

.submit{
    display: none;
}

.book {

    
   display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;    
    font-size: 14px;
    background-color: rgb(46, 46, 46);
    color: black;
    border-radius: 0px 5px 5px 0px;
    border: 3px solid black;
    border-top: 0;
    box-shadow: 1px 3px 2px  rgb(219, 209, 196);
    border-left: 25px solid rgb(0, 0, 0);
    line-height: 5;
    color: rgb(9, 218, 166); 
    margin-right: 2px;  
   margin-bottom: 4px; 
} 

.bookBG {
    background-color:  rgb(46, 46, 46);
    border: 2px solid black;
    border-left: 7px solid rgb(0, 0, 0);    
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.bookForm {
    display: none;
    width: fit-content;
    justify-items: center;
    color: rgb(9, 218, 166); 
    margin-left: auto;
    margin-right: auto;   
    background-color: rgb(32, 37, 24);;
    grid-template-columns: 1fr 1fr;  
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 10px 10px 10px black;
}

input {
    width: 140px;
    color: rgb(9, 218, 166);  
    background-color: rgb(44, 51, 32);
}

.delButton{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(9, 218, 166);  
    border-radius: 15%;
}

